.Rproj.user
/data/

# Ignore all PDF outputs by default, but allow them to be force-added, as
# documented in /documents/README.md
/documents/
# But allow these to be forced-added when finalized
!/documents/README.md

*.rds
*.rda
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
